.FilterByColor {
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    button {
      position: relative;
      width: 30px;
      height: 30px;
      margin: 15px 10px;
      border-radius: 5px;
      outline: 0;
      cursor: pointer;
      font-size: 0;
      border: 0;

      &.type-white {
        background-color: #fff;
      }

      &.type-yellow {
        background-color: #fdd700;
      }

      &.type-red {
        background-color: #fd0000;
      }

      &.type-blue {
        background-color: #2199eb;
      }

      &.type-green {
        background-color: #08aa05;
      }

      &.active::after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 9px;
        width: 6px;
        height: 10px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
      }

      &.type-white::after {
        border-color: #666;
      }
    }
  }
}
