.Result {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 240px);
  min-height: 750px;
  width: 800px;
  overflow: hidden;

  @for $i from 1 through 10 {
    &.bg-#{$i} {
      background-image: url(../../assets/img/bg/#{$i}.jpg);
    }
  }

  .tree-container {
    display: block;
    width: 500px;
    height: 714px;
    z-index: 1;
    position: relative;

    @for $i from 1 through 6 {
      &.bg-#{$i} {
        background-image: url(../../assets/img/tree/#{$i}.png);
      }
    }

    .tree-area {
      position: absolute;
      z-index: 1;

      .tree-img {
        width: 500px;
        height: 714px;
        display: block;
        border: 0;
      }
    }

    .decoration-item {
      height: 60px;
      width: 60px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      // margin-top: 55px;
    }
  }

  .drop-decoration {
    position: absolute;
    width: 100%;
    height: 100%;

    &.can-drop {
      opacity: 0.2;
      background: yellow;
    }
  }
}
