.Snow {
  position: absolute;
  width: 100%;
  height: 100%;

  .snowflake {
    color: #fff;
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
    background: url('../../assets/svg/snowflake2.svg') no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
