.FilterByName {
  margin-bottom: 20px;

  .searchWrapper {
    position: relative;

    .search {
      width: calc(100% - 20px);
      height: 40px;
      margin-right: 30px;
      border-radius: 20px;
      border: 1px solid #278d9f;
      color: #fff;
      font-size: 18px;
      background-color: #1f707f4d;
      background-image: url(../../../assets/svg/search.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      backdrop-filter: blur(6px);
      padding-left: 20px;

      &.not-empty {
        background-image: none;
      }

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: #fff;
      }
    }

    .clear {
      position: absolute;
      background-image: url(../../../assets/svg/cross.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      right: 18px;
      top: 12px;
      width: 20px;
      height: 20px;
      font-size: 0;
      cursor: pointer;
    }
  }
}
