html,
body,
#root {
  height: 100%;
}

header,
main {
  width: 100%;
}

.App {
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  & > main {
    flex-grow: 1;
    background: url('./assets/img/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
  }
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}
