.TriggerSettings {
  .triggers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    & > * {
      width: 80px;
      height: 80px;
      gap: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      filter: saturate(1.5) brightness(0.7);

      &.audio {
        width: 40px;
        height: 40px;
        margin-right: 40px;
        background-image: url(../../../assets/img/icons/audio.png);
      }

      &.snow {
        width: 40px;
        height: 40px;
        margin-right: 40px;
        background-image: url(../../../assets/img/icons/snow.png);
      }

      &.active {
        filter: saturate(1.5) brightness(1) drop-shadow(0px 0px 10px #ff0000);
      }
    }
  }
}
