.container {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0 30px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
