.DecorationItem {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  box-sizing: border-box;

  @media screen and (max-width: 560px) {
    justify-content: center;
  }
}

.DecorationItem__title {
  width: 100%;
  font-size: 20px;
  font-stretch: condensed;
  padding-left: 10px;
  min-height: 20px;
  margin: 15px 0;

  @media screen and (max-width: 560px) {
    text-align: center;
  }
}

.DecorationItem__img {
  width: 130px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.DecorationItem__props {
  flex-grow: 1;
  padding-left: 10px;
  pointer-events: none;
  line-height: 1;
  user-select: none;
  list-style: none;
  line-height: 24px;

  @media screen and (max-width: 560px) {
    flex-grow: 0;
  }
}

.ribbon {
  position: absolute;
  bottom: 15px;
  width: 80px;
  height: 30px;
  background: #cbb77a;
  left: -8px;
}
.ribbon::before,
.ribbon::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
}
.ribbon:before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}
.ribbon:after {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #cbb77a;
  right: -15px;
}

.card.active .ribbon {
  background: #cbb77a;
}

.card.active .ribbon:after {
  border-left: 15px solid #cbb77a;
}
