.Decoration {
  display: flex;
  flex-direction: column;
}

.Decoration__filters {
  min-width: 300px;
}

.Decoration__items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
  justify-content: space-between;
}
