.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 80px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 3px solid #278d9f;
    border-radius: 25px;
    background-color: #1f707f4d;
    backdrop-filter: blur(6px);
    font-size: 42px;
    line-height: 62px;
    padding: 50px;

    @media screen and (max-width: 560px) {
      font-size: 32px;
      line-height: 42px;
      padding: 20px;
    }
  }

  .button {
    position: relative;
    width: 320px;
    height: 60px;
    border: 3px solid #278d9f;
    border-radius: 30px;
    background-color: #1f707f4d;
    backdrop-filter: blur(6px);
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    outline: 1px solid;
    outline-color: #ffffff80;
    outline-offset: 0px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;

    &:hover {
      opacity: 0.9;
    }
  }
}
