.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Home__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 250px;
  margin-bottom: 80px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: #1f707f4d;
  backdrop-filter: blur(6px);
  font-size: 48px;
  line-height: 62px;
}

.Home__button {
  position: relative;
  width: 320px;
  height: 60px;
  border: 3px solid #278d9f;
  border-radius: 30px;
  background-color: #1f707f4d;
  backdrop-filter: blur(6px);
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  outline: 1px solid;
  outline-color: #ffffff80;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
  text-decoration: none;
  line-height: 60px;
}

.Home__button:hover {
  outline-color: #ffffff00;
  outline-offset: 15px;
}
