$break-point: '1024px';

.Tree {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  gap: 40px;

  @media screen and (max-width: $break-point) {
    gap: 10px;

    flex-direction: column;
    & > *:nth-child(3) {
      order: 1;
    }
    & > *:nth-child(1) {
      order: 3;
    }
    & > *:nth-child(2) {
      order: 2;
      width: 100%;
    }
  }

  aside {
    width: 25%;
    min-width: 240px;
    max-width: 355px;

    & > *:first-child {
      margin-top: 30px;
    }

    h5 {
      margin: 10px 0 20px;
      font-size: 22px;
    }

    .widget {
      margin-bottom: 40px;
    }

    @media screen and (max-width: $break-point) {
      width: 100%;
      max-width: 100%;

      .widget {
        margin-bottom: 20px;
      }
    }
  }
  section {
    flex-grow: 1;
    text-align: center;
  }
}
