html,
body,
#root {
  height: 100%;
}

header,
main {
  width: 100%;
}

.App {
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  & > main {
    flex-grow: 1;
    background: url('./assets/img/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.button {
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0 25px;
  border-radius: 20px;
  border: 1px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    opacity: 0.8;
  }
}
