.Favorites {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      min-width: 84px;
      max-width: 84px;
      min-height: 84px;
      border-radius: 10px;
      background-color: #ffffff80;
      position: relative;

      img {
        display: block;
        position: absolute;
        width: auto;
        height: 60px;
        width: 60px;
        object-fit: contain;
        cursor: move;
      }

      span {
        z-index: 10;
        align-self: flex-end;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-left: 60px;
        border-radius: 10px;
        background-color: #24c5db;
        font-size: 14px;
        font-weight: 900;
      }

      i {
        background: url('../../assets/svg/star.svg') no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
      }
    }
  }
}
